@media (min-width: 750px) {
    html {
        font-size: 0.95em;
        background-color: white;
    }
    body {
        margin: 0 auto;
        background-color: rgb(255, 252, 246);
    }
    /*　ヘッダー */
    .drawer .icon, .navbar_toggle, .menu ul li, .menu .menu_deco {
        display: none;
    }
    .head_list {
        display: block;
    }
    nav {
        background: rgba(255, 255, 255, 0.9);
    }
    .deco {
        height: 2px;
    }
    .head_list li {
        float: left;
        padding-right: 16px;
    }
    .head_list li a {
        font-weight: bold;
        font-size: 0.9em;
    }
    .head_list li:nth-child(odd) a {
        color: rgb(148, 129, 82);
    }
    .head_list li:nth-child(even) a {
        color: #BAA058;
    }
    .drawer {
        padding: 0 10px;
    }
    .drawer .logo {
        padding: 5px 0;
        margin-left: 10px;
        max-width: 150px;
    }
    .head_line {
        display: block;
        max-width: 170px;
        margin-right: 10px;
    }
    .head_line img {
        display: block;
        width: 120px;
    }

    /* コンテンツヘッダー */
    .cth {
        display: none;
    }
    .header_area_xbanner_pc {
        margin: 20px auto;
        text-align: center;
    }
    .header_area_xbanner_pc a img{
        width: 40%;
    }
    .contents_header_area_pc {
        display: block;
        background-image: url(../img/cth_back.png);
        background-size: contain;
        margin-bottom: 20px;
        height: 2.5em;
        position: relative;
    }
    .contents_header_area_pc .cth_word {
        display: block;
    }
    .title_common {
        max-width: 1000px;
        margin: 30px auto 50px !important;
    }
    .title_common_column h2 {
        line-height: 1.1em;
    }
    .page-heading {
        max-width: 600px;
        margin: 20px auto 60px;
    }
    .page-heading h1 {
        font-size: 1.6em;
    }

    /* パンくず */
    .breadcrumb {
        font-size: 0.7em;
        margin: 10px 0 0 10px;
    }

    /* もっと見るボタン */
    .btn_border, .main .btn_border {
        font-size: 0.85em;
        padding: 8px 10%;
    }

    /* ホームに戻るボタン */
    .btn_home {
        margin: 70px 0;
    }

    /* ピックアップ店舗 */
    .main .shoplist {
        padding: 3px 1em 0;
    }
    .main .shoplist_mb{
        display: none;
    }
    .shoplist_pc {
        overflow: hidden;
        display: block;
        padding: 0 20px;
    }
    .main .shoplist_pc {
        border-bottom: none;
    }
    .shoplist_left {
        display: block;
        width: 40%;
        float: left;
    }
    .shoplist_right {
        display: inline-block;
        width: 60%;
        padding-left: 20px;
        text-align: left;
    }
    .main .top_img img {
        height: 245px;
    }
    .shoplist_left .line-apply img {
        padding: 0 20px 0 25px;
    }
    .main .shop_top {
        display: flex;
        margin-bottom: 1px;
    }
    .main .shoplist_pc .terms .side_area {
        padding: 2.5px 3px 2.5px 6px;
        vertical-align: top;
    }
    .main .shoplist_pc .terms .side_area:before {
        border: 0.8em solid transparent;
        border-left-color: #BAA058;
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.8em;
        top: 0;
        width: 0;
    }
    .main .shoplist_pc .terms .side_industry:before {
        border: 0.8em solid transparent;
        border-left-color: rgb(247, 236, 208);
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.8em;
        top: 0;
        width: 0;
    }
    .main .shoplist_pc .terms .side_area:after, .main .shoplist_pc .terms .side_industry:after {
        display: none;
    }
    .main .shoplist_pc .terms .side_industry {
        padding: 2.5px 3px 2.5px 6px;
        vertical-align: top;
    }
    .shoplist_pc .shopname a {
        line-height: 1em;
        font-size: 1.2em;
        color: rgb(110, 85, 15);
        font-weight: bold;
    }
    .main .shoplist_pc .shopname a {
        font-size: 1.1em;
    }
    .main .shoplist_pc li {
        font-size: 0.85em;
    }
    .main .shoplist_pc .info {
        margin: 0 0 7px;
    }
    .main .shoplist_pc #condition {
        margin-bottom: 9px;
        padding: 0;
    }
    .shoplist_pc #condition li {
        width: 13.7%;
        margin: 1px;
        max-width: 80px;
    }
    .shoplist_pc .top-more-btn {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .shoplist .shoplist_pc .btn_detail {
        line-height: 2.6em;
        font-size: 1em;
        color: white;
    }
    .slick-next {
        top: 16%;
    }

    /* エリア検索 */
    .wrap_area {
        width: 100%;
        padding: 0 3% 10px;
    }
    .wrap_area .area {
        width: 31%;
        padding: 4px 2px;
    }
    .wrap_area .area img {
        padding: 0;
    }
    .wrap_area .other {
        display: none;
    }
    .other_pc {
        display: block;
        padding: 4px 1.2%;
        width: 100%;
    }

    /* 条件検索 */
    .selectbox {
        width: 30%;
    }
    .main .wrap_search {
        padding: 8px 10% 6px;
        max-width: 1300px;
    }
    .selectbox.sbmenu select {
        font-size: 0.8em;
    }
    .main #searchform #condition {
        padding: 0 10% 10px 12%;
        margin: 0 auto;
    }
    form #condition li {
        margin: 0 3px 0.5%;
        height: 10vmin;
        max-height: 120px;
        max-width: 80px;
    }
    #condition input[type="checkbox"] + label {
        height: 10vmin;
        max-height: 120px;
    }
    #btn_search {
        width: 30%;
        max-width: 200px;
    }
    .img_btn_line img {
        width: 30%;
        max-width: 200px;
    }
    .top_line {
        margin: 0 auto;
        max-width: 800px;
        padding-bottom: 50px;
    }
    .top_line p:last-child, .line_note {
        font-size: 0.85em;
    }

    /* トップページ新着情報、トップページコラム */
    .info_wrapper .info, .column_wrapper .column {
        margin-bottom: 10px;
    }
    .new_img, .new_img_c {
        width: 20%;
    }
    .new_prev, .new_prev_c {
        margin: 0 3.5%;
        font-size: 1.1em;
    }
    .top_title, .top_title_c {
        padding-bottom: 7px;
    }
    .top_title_c {
        padding-top: 3px;
    }
    .new_txt, .new_txt_c {
        display: none;
    }
    .new_txt_pc,.new_txt_c_pc {
        display: block;
        width: 80%;
        padding-left: 10px;
        text-align: left;
        line-height: 1em;
        padding-top: 3px;
    }
    .new_txt_pc .top_title {
        font-size: 0.9em;
        color: rgb(121, 93, 16);
        display: block;
    }
    .new_txt_pc .top_date {
        font-size: 0.6em;
        color: #BAA058;
        line-height: 1.9em;
    }
    .new_txt_pc .top_text {
        font-size: 0.75em;
    }
    .info_wrapper, .column_wrapper {
        margin-bottom: 40px;
    }

    /* 新着情報一覧ページ、コラム一覧ページ */
    .arch_column, .arch_info {
        margin: 0 auto;
        max-width: 1300px;
    }

    /* 新着情報記事ページ、コラム記事ページ */
    .column_post, .news_post {
        max-width: 800px;
        font-size: 1.1em;
    }
    .news_post {
        font-size: 1.3em;
    }
    .column_post h1, .news_post h1 {
        border-left: solid 13px #BAA058;
    }
    .column_post h2, .news_post h2 {
        font-size: 1.2em;
        margin-top: 30px;
    }
    .column_post img, .news_post img {
        padding: 0;
    }
    .column_text p, .news_text p {
        line-height: 1.4em;
        font-size: 0.8em;
    }
    div#ez-toc-container {
        margin-bottom: 30px;
    }
    .post_date {
        padding-right: 10px;
    }
    .line, .news_post .line img {
        width: 230px;
    }

    /*　アイキャッチ、ピックについて */
    .main .break {
        margin-bottom: 30px;
    }
    .eyecatching {
        padding: 0 4% 50px;
        margin: 0 auto;
        max-width: 1100px;
    }
    #header {
        margin-bottom: 17px;
    }
    .header_mb {
        display: none !important;
    }
    .header_pc {
        display: block !important;
        width: 80% !important;
        margin: 0 auto;
    }
    .main .img_btn {
        margin: 0;
    }
    .main .about_pick .contents_head {
        margin-bottom: 8px;
    }
    .main .about_pick .contents_head img {
        width: 15%;
    }
    .main .about_pick .contents_head img:last-child {
        width: 10%;
    }
    .main .about_pick h2 {
        font-size: 1.3em;
    }
    .strength {
        padding-bottom: 12px;
        width: 80%;
        margin: 0 auto;
    }
    .strength-item {
        font-size: 1.1em;
        width: 49%;
        position: relative;
        overflow: hidden;
        padding: 10px 0;
        margin-bottom: 8px;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(243,235,195,1) 100%);
    }
    .strength-item img {
        position: absolute;
        left: 5%;
    }
    .strength-item:nth-child(4) img {
        left: 7%;
    }
    .strength-item p {
        display: inline-block;
        margin-left: 15%;
        vertical-align: bottom;
        line-height: 1.35em;
        font-size: 0.9em;
    }
    .main .pick_support {
        display: none;
    }
    .main .pick_support_pc {
        display: block;
    }
    .main .pick_support_pc {
        margin: 0 auto 30px;
        border: dashed 2px rgb(134, 112, 51);
        width: 80%;
        padding: 15px 0;
    }
    .main .pick_support_pc p {
        font-size: 0.9em;
        letter-spacing: 1px;
    }
    .main .pick_support_pc p:nth-child(2) {
        margin-bottom: 10px;
    }
    .pick_support_pc span {
        background: linear-gradient(transparent 60%, rgb(255, 246, 202) 60%);
    }
    .pick_support_pc p:last-child span {
        background: none;
        color: rgb(167, 138, 61);
        letter-spacing: 1px;
        font-weight: bold;
    }

    /* 各ページリンクバナー */
    .banner-link_simple .top_aimaBnr {
        display: block;
        width: 60%;
        margin: 0 20%;
    }
    .banner-link_simple, .banner-site {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: hidden;
        width: 90%;
        margin: 0 auto 30px;
        max-width: 1000px;
    }
    .banner-link.banner-site {
        justify-content: center;
        margin: 0 auto 40px;
    }
    .banner-link .banner:last-child a:last-child {
        display: inline-block;
    }
    .top_banner-link {
        margin: 0 auto 40px;
    }
    .banner-link_simple a, .banner-site a {
        width: 49.5%;
        margin-bottom: 5px;
        text-align: center;
    }
    .top_banner-link .banner:first-child {
        margin-bottom: 5px;
    }
    .top_banner_link .banner {
        margin: 0 auto;
    }
    .top_banner-link a {
        display: inline-block;
        max-width: 500px;
        width: 45%;
    }
    .top_banner-link a:nth-child(3) {
        clear: both;
    }
    .top_banner-link a:first-of-type, .top_banner-link a:nth-of-type(3) {
        margin-right: 2%;
    }

    /* トップページLINE、mail応募 */
    .main .apply {
        clear: both;
        max-width: 450px;
        margin: 0 auto 50px;
    }

    /* 公式SNSをチェック */
    .social a {
        max-width: 60px;
    }

    /* フッター */
    .footer_contents {
        padding: 15px 0 10px;
        font-size: 0.7em;
    }
    .footer_contents p:first-child {
        margin: 0;
    }
    .copy {
        font-size: 0.6em;
        margin-bottom: 15px;
    }
    .top-link {
        margin-bottom: 20px;
    }
    .footer_text {
        padding: 0 0 10px 0;
        font-size: 0.6em;
    }

    /* ラウンジについて */
    .lounge {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 4%;
    }
    .lounge_top {
        text-align: center;
    }
    .lounge_image {
        max-width: 800px;
    }
    .lounge .btn_line {
        width: 390px;
        padding: 0;
    }
    .lounge .btn_line img {
        margin-left: 23px;
    }
    .about_title h2, .recruitment h2, .reason h2, .title_common h2 {
        font-size: 1.4em;
    }
    .recruitment {
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .recruitment .contents_head img:first-child, .reason .contents_head img:first-child, .title_common img:first-child {
        width: 20%;
    }
    .recruitment .contents_head img, .reason .contents_head img, .title_common img {
        width: 20%;
    }
    .reason {
        margin-bottom: 30px;
    }
    .comment {
        text-align: center;
    }
    .reason_list {
        max-width: 600px;
        margin: 0 auto;
    }
    .reason_item {
        width: 48%;

        font-size: 1.2em;
    }
    .reason_item:nth-child(odd) {
        margin-right: 3%;
    }
    .lounge .img_btn  {
        margin:0 auto;
    }

    .lounge .btn_line img {
	    margin: 0 0 50px 15px;
    }
    .lounge .step_link {
	    width:360px
    }

    /* 応募の手順 */
    .step {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 2%;
    }
    .step .step_item {
        overflow: hidden;
        margin-bottom: 90px;
    }
    .step_item img:first-of-type {
        width: 49%;
        margin-right: 1%;
        float: left;
    }
    .step_title {
        padding-top: 10px;
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    .step_text {
        margin-left: 13%;
    }
    .step .text {
        width: 50%;
        display: inline-block;
    }
    .step .social_step img {
        width: 65%;
    }
    .step .text {
        margin: 0;
        margin-bottom: 0;
    }

    /* なぜ、Pickが選ばれているのか */
    .elected {
        font-size: 1.05em;
    }
    .elected_item {
        margin: 0 auto 60px;
    }
    .elected_title {
	    background: rgb(255,249,246);
        background: linear-gradient(90deg, rgba(255,249,246,1) 10%, rgba(255,249,226,1) 20%, rgba(255,249,226,1) 80%, rgba(255,252,246,1) 90%);
        border-bottom: 3px solid;
        border-image: linear-gradient(90deg, rgba(255,252,246,1) 10%, rgba(223,195,118,1) 30%, rgba(223,195,118,1) 70%, rgba(255,252,246,1) 90%);
        border-image-slice: 1;
    }
    .elected_title h1 {
        font-size: 1.3em;
    }
    .elected_text {
        margin: 0 auto 25px;
        text-align: center;
    }

    /* 利用女性の声 */
    .user-image_mb {
        display: none !important;
    }
    .user-image_pc {
        display: block !important;
    }
    .voice_item {
        padding: 1.5em 0;
    }
    .voice .user {
        display: block;
        width: 65%;
        margin-bottom: 0.5em;
    }
    .voice .user-name {
        display: block;
    }
    .voice-pc {
        display: table;
    }
    .voice .user-image {
        display: table-cell;
        width: 70%;
    }
    .voice .voice_text {
        display: table-cell;
        vertical-align: top;
        width: 70%;
        padding-right: 4%;
    }
    .voice .voice_text p:last-child {
        padding-bottom: 0;
    }

    /* トッページ以外の検索機能 */
    .arch-area {
        margin-bottom: 50px;
    }
    #searchform #condition {
        padding: 0 10% 13px 12%;
        margin: 0 auto;
        max-width: 1400px;
    }
    .wrap_search {
        padding: 30px 10% 5px;
        max-width: 1300px;
    }
    .arch-area .selectbox.sbmenu select {
        font-size: 0.7em;
    }
    .arch-area #searchform #condition {
        padding: 0 10% 7px 12%;
    }
    
    /* 店舗一覧 */
    .posts {
        padding-left: 10px;
    }
    .shoplist_pc {
        display: block;
        overflow: hidden;
        border-bottom: 1px solid #d7d7d7;
    }
    .shoplist_wrapper .shoplist_pc {
        padding: 20px 20px 30px;
        max-width: 1000px;
        margin: 0 auto;
    }
    .shoplist_wrapper .shoplist_pc:last-child {
        border-bottom: none;
    }
    .shoplist_wrapper .shoplist {
        display: none;
    }
    .shoplist_wrapper .shoplist_top {
        overflow: hidden;
        padding: 0;
        display: flex;
    }
    .terms {
        margin-left: 10px;
        padding-top: 2px;
    }
    .shoplist_wrapper .shopname a {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    .shoplist_wrapper .shoplist_left .top_img img {
        height: 273px;
    }
    .shoplist_wrapper .apply {
        padding: 0;
    }
    .shoplist_wrapper .shoplist_left .line-apply img {
        padding: 0;
    }
    .apply_line, .apply_mail {
        margin-top: 4px;
    }
    .shoplist_right p {
        font-size: 0.9em;
        margin-bottom: 7px;
        line-height: 1.4em;
    }
    .shoplist_wrapper .info {
        margin-bottom: 6px;
    }
    .shoplist_wrapper .shoplist_pc #condition li {
        margin: 0 1px;
    }
    .shoplist_pc #condition {
        margin-left: 0;
        margin-bottom: 7px;
    }
    .shoplist_wrapper .btn_detail {
        line-height: 2.8em;
    }
    .shoplist_wrapper .btn_detail {
        font-size: 1.2em;
        color: white;
    }
    .shoplist_wrapper .btn_detail span {
        margin-top: -1.45em;
    }

    /* 店舗一覧のエリアと業種タグ */
    .shoplist_wrapper .terms {
        padding-top: 1px;
    }
    .side_area {
        margin-right: 10px;
    }
    .shoplist_pc .terms .side_area {
        background: #BAA058;
        border-radius: 4px 1px 1px 4px;
        color: #fff;
        font-weight: 550;
        display: inline-block;
        padding: 1px 3px 1px 6px;
        position: relative;
        font-size: 0.7em;
        letter-spacing: 1px;
        vertical-align: top;
      }
      .side_industry {
          vertical-align: top;
      }
      .side_industry, .main .shoplist_pc .side_industry {
          background: rgb(247, 236, 208);
          border-radius: 4px 3px 3px 4px;
          color: rgb(158, 124, 29);
          font-weight: bold;
          display: inline-block;
          padding: 1px 3px 1px 6px;
          position: relative;
          font-size: 0.7em;
          letter-spacing: 1px;
        }
      .side_area:before {
        border: 0.85em solid transparent;
        border-left-color: #BAA058;
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.85em;
        top: 0;
        width: 0;
      }
      .side_industry:before {
        border: 0.85em solid transparent;
        border-left-color: rgb(247, 236, 208);
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.85em;
        top: 0;
        width: 0;
      }
      _::-webkit-full-page-media, _:future, :root .shoplist_pc .terms .side_area {
        padding: 2.5px 3px 2.5px 6px;
    }
    _::-webkit-full-page-media, _:future, :root .shoplist_pc .terms .side_industry {
      padding: 2.5px 3px 2.5px 6px;
  }
    _::-webkit-full-page-media, _:future, :root .shoplist_pc .terms .side_area:before {
        border: 0.75em solid transparent;
        border-left-color: #BAA058;
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.7em;
        top: 0;
        width: 0;
  }
  _::-webkit-full-page-media, _:future, :root .shoplist_pc .terms .side_industry:before {
    border: 0.75em solid transparent;
    border-left-color: rgb(247, 236, 208);
    border-right-width: 0;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: -0.7em;
    top: 0;
    width: 0;
  }

      /* 店舗詳細 */
      .shopdetail {
          font-size: 0.8em;
      }
      .shopdetail .shopname {
          font-size: 1.5em;
          margin: 30px 0 5px;
      }
      .shopdetail .shopimg {
          max-width: 500px;
          padding: 0 20px 15px;
      }
      .shopdetail .outline table {
          margin: 0 auto;
          max-width: 600px;
      }
      .shopdetail table td {
        background-color: white;
        padding: 5px 10px;
      }
      .shopdetail .outline {
          padding-bottom: 20px;
      }
      .shopdetail .outline .about {
          max-width: 1100px;
      }
      .shopdetail .about_title {
          font-size: 1.2em;
      }
      .shopdetail p {
          padding: 10px 15px;
      }
      .shopdetail .subscription {
          margin: 0 auto;
          max-width: 800px;
      }
      .shopdetail .subscription img {
          width: 33%;
          box-shadow: none;
      }
      .shopdetail .subscription a {
          padding: 0 70px;
      }
      .shopdetail .shopinfo {
          max-width: 900px;
          margin: 0 auto;
          line-height: 1.6em;
      }
      .shopdetail .shopdetail_label {
          font-size: 1.3em;
          line-height: 1.8em;
      }
      .recommended-list {
          max-width: 1000px;
          margin: 0 auto;
      }

      /* 店舗詳細のピックアップ */
      .recommended_item {
          display: none;
      }
      .recommended_item_pc {
          display: block;
          overflow: hidden;
          margin-bottom: 30px;
      }
      .recommended h2 {
          font-weight: bold;
          font-size: 1.1em;
      }
      .recommended_item_pc .reco_left {
          width: 45%;
          float: left;
          padding-right: 20px;
      }
      .recommended_item_pc .reco_left img {
          height: 295px;
      }
      .recommended_item_pc .reco_right {
          width: 55%;
          padding: 0;
      }
      .recommended_item_pc .reco_right .tenpo_name {
          font-size: 1.1em;
      }
      .recommended_item_pc .reco_right .tenpo_comment {
          line-height: 1.3em;
          margin-bottom: 5px;
          font-size: 0.85em;
      }
      .recommended_item_pc #condition li {
        width: 13%;
        margin: 0 0.6%;
      }
      .recommended_item_pc .btn_detail {
          padding: 8px 0;
      }

      /* Pickとは */
      .about_pick_mb {
          display: none;
      }
      .about_pick_pc {
          display: block;
      }
      .about-pick {
          max-width: 1000px;
          margin: 0 auto;
      }
      .pick_text {
          max-width: 800px;
          margin: 0 auto;
      }
      .pick_text p {
        text-align: center;
        margin-top: 0;
      }

      /* メールでお問い合せ */
    .contact_text p {
        font-size: 1em;
        text-align: center;
    }
    .wpcf7-list-item {
        background-color: rgb(255, 252, 246);
    }

    /* お問合せ完了画面 */
    .thanx {
        max-width: 1000px;
        margin: 60px auto 150px;
    }

    /* 運営会社 */
    .company {
        max-width: 1000px;
        margin: 0 auto;
        font-size: 1.2em;
    }

    /* プライバシーポリシー */
    .privacy {
        max-width: 900px;
        margin: 0 auto;
    }
    .privacy h2 {
        font-weight: bold;
        margin: 50px 0 5px;
    }
    .privacy .privacy_text {
        font-size: 0.8em;
    }

    /* トップスライド画像 */
    .slider-header {
        margin: 0 auto;
        border-top: 2px solid rgb(226, 193, 132);
    }
    .slider-header .slick-track, .slick-slider .slider-header .slick-list {
        background: rgb(255, 252, 246);
    }
    .slick-initialized .slick-slide {
        opacity: 0.2;
    }
    .slick-initialized .slick-slide.slick-active {
        opacity: 1 !important;
    }
}
/* firefox */
@-moz-document url-prefix() {
    .side_area:before, .side_industry:before {
        position: absolute;
        right: -0.8em;
    }
    .main .shoplist_pc .terms .side_area:before, .main .shoplist_pc .terms .side_industry:before {
        border: 0.85em solid transparent;
        border-left-color: #BAA058;
        border-right-width: 0;
        content: '';
        display: block;
        height: 0;
        position: absolute;
        right: -0.8em;
        top: 0;
        width: 0;
    }
    .main .shoplist_pc .terms .side_industry:before {
        border-left-color: rgb(247, 236, 208);
    }
}
/* IE */
@media all and (-ms-high-contrast:none) {
    .shoplist_pc .terms .side_area, .shoplist_pc .terms .side_industry {
        padding: 4px 3px 4px 6px;
    }
    .shoplist_wrapper .shoplist_left .top_img img {
        height: 284px !important;
    }
    .shoplist_right p, .shoplist_pc #condition {
        margin-bottom: 4px;
    }
    .main .shop_top {
        margin-bottom: 7px;
    }
    .shoplist_wrapper .terms {
        padding-top: 3px;
    }
}
/* edge */
@supports (-ms-ime-align: auto) {
    .shoplist_wrapper .shoplist_left .top_img img {
        height: 284px !important;
    }
    .shoplist_right p, .shoplist_pc #condition {
        margin-bottom: 4px;
    }
    .main .shop_top {
        margin-bottom: 7px;
    }
    .shoplist_wrapper .terms {
        padding-top: 3px;
    }
}
@media (max-width: 800px) {
    .lounge .contents_head, .title_common {
        max-width: 380px;
        margin: 0 auto;
    }
}
@media (min-width: 920px) {
    .head_line img {
        width: 150px;
    }
    .privacy .privacy_text {
        width: 100%;
    }

    /* なぜ、Pickが選ばれているのか（過去事例） */
    .past-cases_wrapper {
        text-align: center;
    }
    .past-cases_item {
        display: inline-block;
        width: 30%;
        max-width: 350px;
        margin-left: 2%;
    }
}
@media (max-width: 1024px) {
    .main #searchform #condition, .arch-area #searchform #condition {
        max-width: 770px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 1.05em;
    }
    .head_list li {
        padding-right: 20px;
    }
    .main .top_img img {
        height: 278px;
    }
    .new_img img, .new_img_c img {
        height: 110px;
    }
    .contents_header_area_pc .cth_word {
        font-size: 1.3em;
    }

    /* 条件検索 */
    #searchform #condition {
        padding: 0 5px 13px !important;
    }
    form #condition li:first-child {
        margin-left: 5%;
    }
    form #condition li {
        max-height: 99999;
        width: 6%;
    }
    form #condition li:nth-child(8) {
        margin-left: 0;
    }
    .condition input[type="checkbox"] + label {
        height: 14vmin;
        max-height: 9999;
    }
    form #condition li:nth-child(8) {
        clear: none;
    }

    /* Pickならではの強み */
    .main .about_pick h2 {
        font-size: 1.3em;
    }
    .main .about_pick .contents_head img {
        width: 20%;
    }
    .strength-item img {
        max-height: 45px;
    }

    /* 公式SNSをチェック */

}
@media (min-width: 1300px) {
    html {
        font-size: 1.15em;
    }
    .shoplist_pc, .recommended {
        font-size: 1.05em;
    }
    .contents_header_area_pc img {
        width: 160px;
        padding: 2px 0;
        vertical-align: bottom;
    }
    .contents_header_area_pc_news img, .contents_header_area_pc_condition img {
        width: 140px;
    }
    .contents_header_area_pc_column img {
        width: 120px;
        padding: 5px 0;
    }
    .head_list li {
        padding-right: 30px;
    }
    .new_img, .new_img_c {
        width: 17%;
    }
    .arch_info .new_img img, .arch_column .new_img_c img {
        height: 130px;
    }

    /* 店舗一覧 */
    .shoplist_wrapper .btn_detail {
        font-size: 1em;
        line-height: 2.7em;
    }
    .shoplist_wrapper .shoplist_left .top_img img {
        height: 282px;
    }

    /* 店舗詳細 */
      .recommended_item_pc .reco_left img {
        height: 352px;
    }

    /* 応募の手順 */
    .step_item img:first-of-type {
        width: 43%;
        margin-right: 3%;
    }
    .step .text {
        width: 54%;
    }
    .step .social_step {
        padding: 0 1% 0 26%;
    }
    .step .social_step a {
        padding: 0;
    }
    .step .social_step img {
        width: 50%;
    }
    
}