* {
	margin: 0;
	padding: 0;
	word-break: normal;
	box-sizing: border-box;
	color: #626262;
}

html {
	padding-top: constant(safe-area-inset-top);
	padding-bottom: constant(safe-area-inset-bottom);
	padding-left: constant(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-top: env(safe-area-inset-top);
	padding-bottom: env(safe-area-inset-bottom);
	padding-left: env(safe-area-inset-left);
	padding-right: env(safe-area-inset-right);
	margin: 0 auto;
}
body {
	box-sizing: border-box;
	width: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

img {
	height: auto;
	width: 100%;
}

hr {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border:0;
	border-top:1px solid #d7d7d7;
}

/* ヘッダー・メニュー */
/* メニューの全体レイアウト */
nav {
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: rgba(255, 255, 255, 0.96);
	z-index: 9999;
}
.header_nav {
	z-index: 99999;
}

.drawer {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	position: relative;
	padding: 3px 10px;
}

.logo img{
	vertical-align: bottom;
}

.head_list, .head_line {
	display: none;
}

.drawer .logo {
	max-width: 120px;
}
.logo_pc {
	display: none;
}
.deco {
	display: block;
}

/* SNSアイコン */
@media screen and (min-width:	320px) {
	.drawer .icon {
		width: 25%;
		text-align: right;
	}

	.drawer .icon img {
		width: 13%;
		min-width: 32px;
	}
}

@media screen and (min-width:	375px) {
	.drawer .icon {
		width: 30%;
		text-align: right;
	}

	.drawer .icon img {
		width: 13%;
		min-width: 40px;
	}
}

/* トグル部分 */
@media screen and (min-width:	320px) {
	.navbar_toggle {
		z-index: 9999;
		margin: 0 10% 0 2%;
	}

	.navbar_toggle_icon {
		position: relative;
		display: block;
		height: 5px;
		width: 30px;
		background: #BAA058;
		-webkit-transition: ease .5s;
		transition: ease .5s;
	}

	.navbar_toggle_icon:nth-child(1) {
		top: 0;
	}

	.navbar_toggle_icon:nth-child(2) {
		margin: 5px 0;
	}

	.navbar_toggle_icon:nth-child(3) {
		top: 0;
	}
}

@media screen and (min-width:	375px) {
	.navbar_toggle {
		z-index: 9999;
		margin: 0 18% 0 2%;
	}

	.navbar_toggle_icon {
		position: relative;
		display: block;
		height: 4px;
		width: 30px;
		background: #BAA058;
		-webkit-transition: ease .5s;
		transition: ease .5s;
	}

	.navbar_toggle_icon:nth-child(1) {
		top: 0;
	}

	.navbar_toggle_icon:nth-child(2) {
		margin: 6px 0;
	}

	.navbar_toggle_icon:nth-child(3) {
		top: 0;
	}
}

/*OPEN時の動き*/
@media screen and (min-width:	320px) {
	.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
		top: 10px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity: 0;
	}

	.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
		top: -10px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

@media screen and (min-width:	375px) {
	.navbar_toggle.open .navbar_toggle_icon:nth-child(1) {
		top: 10px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.navbar_toggle.open .navbar_toggle_icon:nth-child(2) {
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		opacity: 0;
	}

	.navbar_toggle.open .navbar_toggle_icon:nth-child(3) {
		top: -10px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

/* 飾り */
.nav_deco {
	display: block;
	margin-top: -16px;
	margin-bottom: 10px;
	width: 100%;
}

/* ナビゲーション部分 */
.menu {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: ease .5s;
	transition: ease .5s;
	z-index: 9999;
	width: 100%;
	position: absolute;
}

.menu ul li {
	display: block;
	border-bottom: 1px solid white;
	background: rgba(199, 174, 115, 0.959);
	font-size: 1.1em;
	letter-spacing: 2px;
	list-style: none;
	text-align: center;
	vertical-align: baseline;
	font-weight: bold;
}

.menu  li {
	display: block;
	padding: 11px;
}

.menu a, .social #menu {
	text-decoration: none;
	color: rgb(90, 68, 9);
}

/* 飾り */
.menu .menu_deco {
	margin-top: -14px;
	width: 100%;
}

.menu .menu_deco img {
	width: 100%;
}

/*OPEN時の動き*/
.menu.open {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* コンテンツヘッダ（index） */
#header {
	width: 100%;
}

#header h1 {
	margin: 0 auto;
}

#header h1 img {
	display: block;
	width: 100%;
}
#header h1 .header_pc {
	display: none;
}

/* フッター */
#footer {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	background-color: #BAA058;
}

.footer_contents {
	padding: 13px 0 8px;
	font-size: 0.75em;
}

.footer_contents a {
	color: white;
}

.footer_contents p:first-child {
	margin-bottom: 2px;
}

.footer_text {
	padding: 5% 0;
	font-size: 0.64em;
	line-height: 1.4em;
}

.copy {
	font-size: 0.7em;
	margin-bottom: 12px;
}

.footer_text p:first-child {
	font-size: 1.2em;
	margin-bottom: 0.8em;
}

.footer_text p, .copy{
	color: white;
}

.top-link  {
	display: inline-block;
	text-align: center;
	background-color: #ffffff;
	padding: 0.05em 0.8em 0.05em 0.5em;
	border-radius: 10em;
}

.top-link a{
	color: #BAA058;
	font-size: 1.1em;
}

/* ボタン群 */
/* 「戻る」ボタン */
.btn_home {
	margin:0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 12%;
}

/* 検索ボタン */
#btn_search {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	border: solid 0.5px rgb(219, 196, 130);
	background-color: rgb(247, 240, 222);
	border-radius: 10px;
	font-size: 0.95em;
	line-height: 2em;
}

#btn_search input {
	width: 100%;
	padding: 0;
	background: none;
	color: rgb(65, 45, 16) !important;
}

/* 「もっと見る」ボタン */
.btn_more {
	display: block;
	margin: 0 auto;
	
}

/* ボタンの共通部品 */

.shoplist_wrapper .btn_detail {
	line-height: 2.6em;
	color: rgb(134, 105, 23);
	font-size: 1em;
	font-weight: bold;
}

.btn_border {
	border-radius: 10px;
	background-color: rgb(230, 194, 128);
	text-decoration: none;
	color: white;
	transition: .4s;
	font-size: 0.95em;
	margin-bottom: 5%;
	text-align: center;
	padding: 5px 19%;
}

.main .btn_border {
	padding: 4px 19%;
	color: rgb(65, 45, 16);
	border: solid 0.5px rgb(219, 196, 130);
	background-color: rgb(247, 240, 222);

}

.btn_border:hover {
	background: #BAA058;
	color: white;
}

#btn_border:active, #btn_border:hover {
	background-color: rgb(241, 220, 167);
}

/* 「詳細を見る」ボタン */

.more-btn {
	padding: 0 2%;
}

.top-more-btn {
	margin-left: 5%;
	width: 85%;
}

.btn_detail {
	position: relative;
	width: 100%;
	display: block;
	border: solid 1px rgb(219, 196, 130);
	background-color: rgb(247, 240, 222);
	border-radius:10px;
	text-decoration: none;
	font-size: 1em;
	color: rgb(43, 30, 11);
	letter-spacing: 1px
}
.slider_tenpo .btn_detail {
	line-height: 2.75em;
	box-shadow: none;
}


/* 確認画面用ボタン */
.btn_confirm_area {
	display: block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius:5px;
}

.btn_confirm {
	display: block;
	width: 30%;
	height: 40px;
	margin: 0 auto;
	padding: 0.4em 1em;
	vertical-align: middle;
	text-decoration: none;
	background: #ADD9FF;
	color: #535353;
	border: solid 1px #D6D6D6;
	border-radius:10px;
	transition: .4s;
}

.btn_detail:hover {
	background: rgb(255, 244, 214);
	color: #707070;
}

/* 送信ボタン */
.btn-area{
  text-align: center;
}
input[type="submit"],
input[type="button"],
.btn_contact{
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #535353;
	border: solid 2px #535353;
	border-radius:5px;
	background: white;
}

/* トップページ */
.main {
	text-align: center;
	margin-top: -3px;
}

.info_wrapper .info, .column_wrapper .column {
	margin-bottom: 15px;
}

.main form {
	margin: 10px 0 24px;
}

.info_wrapper, .column_wrapper {
	margin: 0 auto;
	padding-bottom: 20px;
	max-width: 1200px;
}
.column_wrapper {
	padding-bottom: 55px;
}

/* Pickとは */
.about-pick {
	margin-bottom: 50px;
}
.about_pick_pc {
	display: none;
}

/* Pickについて */
.main .break {
	width: 70%;
	margin-bottom: 17px;
	max-width: 400px;
}
.main .about_pick {
	margin-top: 8.5% 0 5%;
}

.main .about_pick h2 {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(110, 85, 15);
	background: -webkit-linear-gradient(top, rgb(218, 198, 146) 0%, rgb(114, 93, 35) 50%, rgb(110, 85, 15) 51%, rgb(110, 85, 15) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.main .about_pick .contents_head {
	margin-bottom: 5px;
}
.main .about_pick .contents_head img {
	width: 33%;
	display: block;
	margin: 0 auto;
}
.main .about_pick .contents_head img:last-child {
	width: 20%;
}
#header {
	margin-bottom: 15px;
}
.strength {
	margin-bottom: 12px;
}
.strength-item {
	display: inline-block;
	width: 45%;
	/* background-color: #F3EBC3; */
	border: 2px solid rgb(218, 198, 146);
	border-radius: 10px;
	box-shadow: 0 3px 3px rgb(238, 238, 238);
	margin-bottom: 10px;
	text-align: center;
	padding: 5px 2px;
	background: rgb(243,235,195);
	background: linear-gradient(0deg, rgba(243,235,195,1) 0%, rgba(255,255,255,1) 100%);
}
.strength .strength-item:nth-child(even) {
	margin-right: 1%;
}
.strength-item img {
	width: auto;
	max-height: 35px;
	margin-bottom: 2px;
}
.strength p {
	font-size: 0.8em;
	color: rgb(117, 98, 45);
	font-weight: bold;
	line-height: 1.3em;
	letter-spacing: 0.5px;
}
.main .pick_support_pc {
	display: none;
}
.main .pick_support {
	border: dashed 2px rgb(134, 112, 51);
	margin: 0 4% 20px;
	padding: 15px 0;
}
.main .pick_support p {
	font-size: 0.8em;
	letter-spacing: 1px;
}
.main .pick_support p:nth-child(3) {
	margin-bottom: 10px;
}
.pick_support span {
	background: linear-gradient(transparent 60%, rgb(255, 246, 202) 60%);
}
.pick_support p:last-child span {
	background: none;
	color: rgb(167, 138, 61);
	letter-spacing: 1px;
	font-weight: bold;
}
.top_line {
	margin-bottom: 30px;
}
.top_line .line_note {
	margin-top: -5px;
	margin-bottom: 5px;
	font-size: 0.85em;
}

.top_line p:last-child {
	font-size: 0.9em;
	color: #BAA058;
	margin: 0 1em;
	line-height: 1.3em;
}

.about_pick i {
	text-align: center;
	color: #BAA058;
	font-size: 2em;
	margin-bottom: 8px;
}

.img_btn {
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}

.main .about_pick .img_btn {
	width: 70%;
	margin: 0 auto 20px;
}

.img_btn_line {
	margin-bottom: 0;
}

.img_btn_line img{
	width: 50%;
	margin-top: 5px;
}

.shopdetail .about p {
	text-align: justify;
	line-height: 1.5em;
}

.contents-header {
	width: 100%;
	margin: 20px 0 15px;
}

.contents_header_area_pc {
	display: none;
}

/* エリア */
.wrap_area {
	display: flex;
	flex-wrap: wrap;
	margin: 17px auto 18px;
	width: 95%;
	max-width: 1050px;
}

.wrap_area .area {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.wrap_area .area img {
	/* width: 220px; */
	padding: 0 3px;
}

.wrap_area .other {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.other_pc {
	display: none;
}

/* 条件検索 */
.wrap_search {
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.wrap_search .cross_icon {
	margin-top: 12px;
	width: 5%;
}

/* プルダウンメニュー */
.selectbox {
	position: absolute;
	overflow: hidden;
	width: 30%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
	box-shadow: 0px 1px 5px #aaa;
	z-index: 1;
	display: inline-block;
}

.selectbox select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.selectbox select::-ms-expand {
	display: none;
}

.selectbox.sbmenu {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 10px;
	background: #ffffff;
}

.selectbox.sbmenu::before {
	position: absolute;
	top: 0.7em;
	right: 0.6em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #626262;
	pointer-events: none;
}

.selectbox.sbmenu select {
	position: relative;
	padding: 6px 30px 6px 8px;
	text-align: center;
	font-size: 12px;
	color: rgb(43, 30, 11);
}

/* 条件検索アイコン */

#condition {
	display: block;
	overflow: hidden;
	margin-left: 1.8%;
}

form #condition {
	margin-bottom: 7px;
}

#condition_title {
	text-align: center;
	margin-bottom: 8px;
	font-size: 0.7em;
	background-color: rgb(247, 240, 222);
	padding: 1px 0;
}

#condition_title p {
	color: rgb(43, 30, 11);
}

#condition li {
	width: 13%;
	position: relative;
	float: left;
	display: block;
	margin: 0 1.5px 2px;
	padding: 0;
}

#condition li:nth-child(8) {
	clear: left;
}

#condition input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

#condition input[type="checkbox"] + label {
	width: 100%;
	height: 12.5vmin;
	display: block;
	background-position: left center;
	background-size: contain;
	background-repeat: no-repeat;
}

#condition .all-payment input[type="checkbox"] + label {
	background-image: url(../img/icon_search_all-payment.png);
}

#condition .all-payment input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_all-payment.png);
}

#condition .hourly-payment input[type="checkbox"] + label {
	background-image: url(../img/icon_search_hourly-payment.png);
}

#condition .hourly-payment input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_hourly-payment.png);
}

#condition .next-all-payment input[type="checkbox"] + label {
	background-image: url(../img/icon_search_next-all-payment.png);
}

#condition .next-all-payment input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_next-all-payment.png);
}

#condition .last-train input[type="checkbox"] + label {
	background-image: url(../img/icon_search_last-train.png);
}

#condition .last-train input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_last-train.png);
}

#condition .sending input[type="checkbox"] + label {
	background-image: url(../img/icon_search_sending.png);
}

#condition .sending input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_sending.png);
}

#condition .saturday input[type="checkbox"] + label {
	background-image: url(../img/icon_search_saturday.png);
}

#condition .saturday input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_saturday.png);
}

#condition .sunday input[type="checkbox"] + label {
	background-image: url(../img/icon_search_sunday.png);
}

#condition .sunday input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_sunday.png);
}

#condition .newopen input[type="checkbox"] + label {
	background-image: url(../img/icon_search_newopen.png);
}

#condition .newopen input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_newopen.png);
}

#condition .plain-clothes input[type="checkbox"] + label {
	background-image: url(../img/icon_search_plain-clothes.png);
}

#condition .plain-clothes input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_plain-clothes.png);
}

#condition .long-pants input[type="checkbox"] + label {
	background-image: url(../img/icon_search_long-pants.png);
}

#condition .long-pants input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_long-pants.png);
}

#condition .three-hours input[type="checkbox"] + label {
	background-image: url(../img/icon_search_three-hours.png);
}

#condition .three-hours input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_three-hours.png);
}

#condition .hold input[type="checkbox"] + label {
	background-image: url(../img/icon_search_hold.png);
}

#condition .hold input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_hold.png);
}

#condition .hair input[type="checkbox"] + label {
	background-image: url(../img/icon_search_hair.png);
}

#condition .hair input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_hair.png);
}

#condition .private-room input[type="checkbox"] + label {
	background-image: url(../img/icon_search_private-room.png);
}

#condition .private-room input[type="checkbox"]:checked + label {
	background-image: url(../img/icon_search_aft_private-room.png);
}

/* キャンペーン */
.campaign {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

.campaign img {
	width: 85%;
	margin-bottom: 10px;
}

.campaign_top {
	text-align: center;
	margin-bottom: 7.5%;
	padding-bottom: 10px;
}

.campaign_top img {
	width: 85%;
	margin-bottom: 2.5%;
}

.campaign_top img:last-child {
	margin-bottom:0;
}
/* SNS */
.social {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 0.85em;
	margin-bottom: 20px;
}

.social p {
	margin-bottom: 8px;
	color: #BAA058;
	font-size: 1.25em;
	font-weight: bold;
}

.social #menu {
	font-size: 1.1em;
	margin-top: 15px;
	color: white;
}

.social img {
	width: 45%;
	max-width: 391px;
	padding: 2px;
	/* margin: 20px; */
}

.social a {
	border-style:none;
	text-decoration: none;
}

/* FAQ・お問い合わせ */
.faq_area {
	display: flex;
	margin: 0 auto;
	width: 95%;
	margin-bottom: 1.5em;
}

.faq_area img {
	padding: 0 6px;
}

/* コンテンツヘッダ(ラウンジとは) */

.title_lounge, .title_contact, .title_company, .title_privacy {
	display: block;
	text-align: center;
	margin: 40px;
	font-size: 0.6em;
	color: #626262;
}

.title_about_pick {
	margin-bottom: 0.8em;
}

/* コンテンツヘッダ(汎用) */
.title_common {
	text-align: center;
	margin: 30px 0 !important;
	padding: 0 4%;
}
/*
.lounge_text h2 {
	text-align:center;
	margin-top: 12%;
	font-size: 1.1em;
	font-weight: bold;
	color: rgb(121, 104, 50);
	border-bottom: solid 3px rgb(247, 240, 222);
}

.lounge_text p:first-of-type {
	margin-top: 1%;
}

.lounge_text p {
	margin: 10px 20px 40px;
	text-align: justify;
	font-size: 0.8em;
	color: #626262;
}*/

.pick_text p {
	margin-top: 5%;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: justify;
	font-size: 0.8em;
	color: #626262;
}

/* コンテンツヘッダ(汎用（画像）) */
.title_img {
	display: block;
	text-align: center;
	margin: 40px;
	font-size: 0.8em;
	color: #191919;
}

.title_img img {
	width: 100%;
	max-width: 100%;
}

/* ラウンジとは */

.lounge {
	margin: 0 4%;
}

.lounge .img_btn {
	margin-bottom: 50px;
}

.lounge_image {
	margin-bottom: 20px;
}

.about_lounge, .comment, .reason {
	margin-bottom: 40px;
}

.about_title {
	border-bottom: solid 5px rgb(226, 215, 180);
	text-align: center;
	margin-bottom: 20px;
}

.about_title h2, .recruitment h2, .reason h2, .title_common h2 {
	color: rgb(116, 88, 46);
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.4em;
}
.title_common_column, .title_common_info {
	font-size: 1.1em;
}
.title_common_column h2 {
	line-height: 1.3em;
}

.about_text p, .comment p {
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.4em;
}
.lounge .btn_line {
	display: block;
	margin: 0 auto;
	width: 260px;
}
.lounge .btn_line img {
	margin: 0 0 35px 15px;
}
.lounge .step_link {
	margin: 0 auto;
	width: 230px;
}

/* ラウンジについて（求人情報） */

.recruitment {
	text-align: center;
	margin-bottom: 50px;
}

.recruitment .contents_head, .reason .contents_head, .title_common {
	padding-bottom: 10px;
}

.recruitment .contents_head img, .reason .contents_head img, .title_common img {
	width: 35%;
	display: block;
	margin: 0 auto; 
}
.title_common_column img, .title_common_info img {
	width: 25%;
	display: block;
	margin: 0 auto;
}

.recruitment .contents_head img:first-child, .reason .contents_head img:first-child, .title_common img:first-child {
	width: 40%;
}
.title_common_info img:first-child {
	width: 35%;
}
.title_common_column img:first-child {
	width: 32%;
}
.recruitment h2, .reason h2, .title_common h2 {
	font-size: 1.4em;
	letter-spacing: 2px;
}
.title_common_column h2, .title_common_info h2 {
	font-size: 1.15em;
}

.recruitment_list ul {
	width: 100%;
	display: table;
	table-layout:fixed;
}

.recruitment_list ul li {
	display: table-cell;
	vertical-align: middle;
	padding: 9.5px 7px;
	border: solid 1px #BAA058;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	text-align: left;
}

.recruitment_list ul li p {
	line-height: 1.3em;
}

.recruitment_list ul li .notes {
	font-size: 0.85em;
	color: #BAA058;
}

.recruitment_list ul:first-child li:nth-child(1) {
	width: 30%;
	border: solid 1px #BAA058;
	border-top-left-radius: 13px;
	-webkit-border-top-left-radius: 13px;
	-moz-border-radius-topleft: 13px;
}

.recruitment_list ul:first-child li:nth-child(2) {
	width: 70%;
	border-width: 1px 1px 1px 0;
	border-top-right-radius: 13px;
	-webkit-border-top-right-radius: 13px;
	-moz-border-radius-topright: 13px;
}

.recruitment_list ul li:nth-child(1) {
	width: 30%;
	border-width: 0 1px 1px 1px;
	font-size: 0.95em;
	letter-spacing: 1px;
	color: rgb(116, 88, 46);
	font-weight: bold;
}

.recruitment_list ul li:nth-child(2) {
	width: 70%;
	border-width:0 1px 1px 0;
}

.recruitment_list ul:last-child li:nth-child(1) {
	border-bottom-left-radius: 13px;
	-webkit-border-bottom-left-radius: 13px;
	-moz-border-radius-bottomleft: 13px;
}

.recruitment_list ul:last-child li:nth-child(2) {
	border-bottom-right-radius: 13px;
	-webkit-border-bottom-right-radius: 13px;
	-moz-border-radius-bottomright: 13px;
}

.recruitment_list ul:nth-child(odd) li:nth-child(1) {
	background-color: rgb(228, 222, 198);
}

.recruitment_list ul:nth-child(even) li:nth-child(1) {
	background-color: rgb(250, 245, 226);
}

/* ラウンジについて（安心の理由） */

.reason {
	margin-bottom: 40px;
	text-align: center;
}

.reason i {
	padding-right: 2px;
	color: white;
	font-size: 0.8em;
}

.reason_item {
	width: 49%;
	box-shadow: 0 3px 3px rgb(221, 221, 221);
}

.reason_item:nth-child(odd) {
	margin-right: 1%;
	float:left;
}

.reason_item:nth-child(even) {
	margin-left: 1%;
}

.reason_item {
	display: inline-block;
	border: solid 2px rgb(211, 191, 128);
	border-radius: 14px;
	margin-bottom: 10px;
	background-image: url(../img/reason_back.jpg);
	background-size: cover;
}

.point_number {
	background-color: rgb(211, 191, 128);
	border-radius: 13px 13px 0 0;
	margin-top: -1px;
}

.point_number p {
	font-size: 1em;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	line-height: 1.9em;
}

.point_text {
	padding: 15px 0;
}

.point_text p {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: rgb(116, 88, 46);
}

.reason_item:nth-child(odd) .point_text p:first-child {
	letter-spacing: -1px;
}

.reason_item:nth-child(4) .point_text p:first-child {
	letter-spacing: -1.5px;
}

/* なぜ、Pickが選ばれているのか */
.page-heading {
	text-align: center;
	margin: 20px auto 40px;
	max-width: 500px;
}
.page-heading h1 {
	font-size: 1.2em;
	font-weight: bold;
	color: rgb(110, 85, 15);
	padding-top: 5px;
}
.frame {
	display: block;
	width: 60%;
	margin: 0 auto;
}
.elected {
	margin: 0 auto;
}
.elected_item {
	margin: 0 auto 40px;
}
.elected_title {
	background-color: rgb(255, 249, 226);
	border-bottom: 3px solid rgba(223, 195, 118, 0.87);
	text-align: center;
	margin-bottom: 20px;
	width: 100%;
}
.elected_title h2 {
	color: #997206;
	font-weight: bold;
	font-size: 1.1em;
	letter-spacing: 1.5px;
	padding: 4px 0;
}
.elected_item .elected_img {
	display: block;
	margin: 0 auto 20px;
	width: 27%;
	max-width: 120px;
}
.elected_item:first-child .elected_img {
	width: 60%;
	height: auto;
	max-width: 300px;
}
.elected_item:nth-child(3) .elected_img {
	width: 23%;
	max-width: 100px;
}
.elected .btn_line {
	display: block;
	width: 70%;
	margin: 0 auto;
	max-width: 350px;
}
.elected .btn_line img {
	margin-left: 5%;
}
.elected_text {
	margin: 0 10px 25px;
	font-size: 0.9em;
	line-height: 1.45em;
}
.elected .last-text {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: bold;
	color: rgb(129, 111, 61);
	text-align: center;
	margin-bottom: 15px;
}

/* なぜ、Pickが選ばれているのか（過去事例） */
.past-cases {
	margin: 0 auto;
}
.past-cases_title {
	text-align: center;
	margin-bottom: 15px;
}
.past-cases_title h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: rgb(110, 85, 15);
	letter-spacing: 1px;
}
.past-cases_title h3:before {
	content: "";
	display: inline-block;
	width: 2.9em;
	height: 0.55em;
	background: url(../img/title_side_left.png) no-repeat;
	background-size: contain;
	margin-right: 5px;
}
.past-cases_title h3:after {
	content: "";
	display: inline-block;
	width: 2.9em;
	height: 0.6em;
	background: url(../img/title_side_right.png) no-repeat;
	background-size: contain;
	margin-left: 5px;
}
.past-cases_item {
	display: table;
	width: 85%;
	border-radius: 10px;
	padding: 0.5em 0;
	margin: 0 auto 10px;
	border: 2px solid #F3B4FF;
	background-color: white;
}
.past-cases_item:first-child {
	border: 2px solid rgb(255, 185, 214);
}
.past-cases_item:last-child {
	border: 2px solid #A6DBD4;
}
.past-cases .left {
	display: table-cell;
	width: 36%;
}
.elected_item .past-cases .left img {
	width: auto;
	max-height: 100px;
	margin: 0 auto;
}
.past-cases .right {
	display: table-cell;
	width: 62%;
	vertical-align: middle;
	margin-left: 2%;
}
.past-cases .right p {
	color: rgb(83, 72, 40);
	font-size: 0.9em;
	font-weight: bold;
}
.past-cases .right p:nth-child(3) span {
	color: red;
}
.past-cases .right i {
	color: rgb(83, 72, 40);
}
.past-cases .right p:last-child span {
	color: #997206;
}
.past-cases .right p:last-child span:after {
	content: "";
	display: inline-block;
	width: 1.1em;
	height: 0.9em;
	padding-top: 0.1em;
	background: url(../img/elected_case_icon_up.png) no-repeat;
	background-size: contain;
	vertical-align: middle;
}

/* 利用女性の声 */
.voice h2 {
	color: #946f09;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2em;
	margin-bottom: 25px;
}
.voice_item {
	padding: 1.2em 0 0.2em;
	margin: 0 10px 25px;
	border-radius: 0.7em;
}
.voice_item:nth-child(odd) {
	background-color: #FFF2EA;
}
.voice_item:nth-child(even) {
	background-color: #FFF8E5;
}
.voice .user {
	display: table;
	margin-bottom: 1em;
}
.voice .user-image {
	display: table-cell;
	width: 80%;
	margin: 0 auto;
}
.voice .user-name {
	display: table-cell;
	width: 50%;
	vertical-align: middle
}
.voice .user-name p {
	text-align: center;
	font-weight: bold;
	font-size: 0.95em;
}
.voice .user-name p:first-child {
	color: rgb(255, 139, 187);
}
.voice .user-name p:last-child {
	color: rgb(83, 72, 40);
}
.voice .voice_text {
	margin: 0 5%;
}
.voice .voice_text p {
	padding-bottom: 1em;
	font-size: 0.9em;
	line-height: 1.3em;
}

/* よくある質問 */
.title_faq {
	display: block;
	text-align: center;
}

.title_faq img {
	width: 100%;
	max-width: 100%;
}

/* イメージ画像 */
.image {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}

/* 本文 */
.text {
	margin-right: 30px;
	margin-left: 30px;
	text-align: justify;
	font-size: 0.85em;
	color: #626262;
}

.text h2 {
	/* margin-top: 10px; */
	padding-bottom: 1.5%;
	margin: 20px 0;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #BF9405;
	border-bottom: solid 1px #848484;
}

/* 店舗一覧 */

.main .shoplist {
	padding: 3px 1em 1em;
	border-bottom: none;
}

.main .top_img img {
	height: 220px;
	margin-bottom: 3px;
}
.shoplist_pc {
	display: none;
}

.shoplist_mb {
	margin-top: 5px;
}

.shoplist_left {
	display: none;
}

.main .shoplist .info {
	margin: 0 5% 5px;
}

.main #condition {
	padding: 0 3%;
}

.shoplist {
	padding: 1em 0.5em;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	border-bottom: 1px solid #d7d7d7;
}
.shoplist_pc {
	display: none;
}

.shoplist_wrapper .shoplist:last-child {
	border-bottom: none;
}

.shoplist_top {
	padding: 0 2%;
}

.shoplist p {
	font-size: 0.8em;
}

.shoplist a {
	font-size: 0.85em;
	line-height: 1.2em;
}

.slider_tenpo {
	margin: -4px auto 0;
	max-width: 1024px;

}
.slider_tenpo .shoplist_top {
	padding: 0 1em 5px;
}

.slider_tenpo .shoplist a {
	font-size: 1em;
	letter-spacing: 1px;
	color: rgb(105, 80, 12);
}

.shoplist .shopname {
	line-height:1.4em;
	text-align: left;
	font-weight: bold;
}

.shoplist .shopname a {
	font-size: 1.1em;
	line-height: 0;
	color: rgb(134, 105, 23) !important;
}
.terms {
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 4px;
}

.shoplist .terms .side_industry {
	position: relative;
	margin-right: 8px;
	font-size: 0.6em;
	padding: 2px 1px 1px 3px;
	background-color: rgb(247, 236, 208);
	color: rgb(163, 134, 53);
	vertical-align: middle;
	border-radius: 2px 1px 1px 2px;
}
.shoplist .terms .side_industry:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	border-color: transparent transparent transparent rgb(247, 236, 208);
	border-style: solid;
	border-width: 0.85em 0.85em 0.85em 0.95em;
	border-radius: 2px;
}
.shoplist_wrapper .shoplist .terms .side_industry:after {
	margin-top: -0.85em;
}

.shoplist .terms .side_area {
	position: relative;
	margin-right: 8px;
	font-size: 0.6em;
	padding: 2px 1px 1px 3px;
	background-color: #BAA058;
	color: white;
	vertical-align: middle;
	border-radius: 2px 1px 1px 2px;
}
.shoplist .terms .side_area:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	border-color: transparent transparent transparent #BAA058;
	border-style: solid;
	border-width: 0.85em 0.85em 0.85em 0.95em;
	border-radius: 2px;
}
.shoplist_wrapper .shoplist .terms .side_area:after {
	margin-top: -0.85em;
}

.shoplist img {
	width: 100%;
}

.shoplist_image {
	height: 220px;
	object-fit: cover;
}

.shoplist_image_archive {
	height: 220px;
}

.shoplist .fas {
	font-size: 16px;
	padding: 0 5px;
	color: rgb(114, 94, 37);
}

.shoplist .info {
	margin: 3px 2% 5px;
}
.apply_line, .apply_mail {
	margin-top: 2px;
}


.shoplist .detail {
	display: block;
	padding-bottom: 1px;
	margin: 0 auto;
	width: 100%;
}

.shoplist .detail img{
	width: 17.5%;
	max-width: 100%;
}
/*
.shoplist .apply {
	display: flex;
	width: 100%;
	margin: 0 auto;
	position: relative;
}*/

.apply {
	padding-right: 2%;
	padding-left: 2%;
	overflow:hidden;
	margin-bottom: 1.5px;
}

.apply_line, .apply_mail {
	width: 48%;
	float: left;
	margin-top: 2px;
}

.apply_line {
	margin-right: 4%;
}

.top_apply {
	padding-right: 2%;
	padding-left: 2%;
	overflow:hidden;
}

.top_apply_line {
	width: 95%;
	margin: 0.4em 5%;
	text-align: center;
}

/* 店舗一覧の表 */

.shoplist .option, .shoplist_pc .option {
	width: 100%;
	display: table;
}

.shoplist li, .shoplist_pc li {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.2em;
	padding: 7px;
	font-size: 0.8em;
}

.shoplist .op_text, .shoplist_pc .op_text {
	display: block;
	text-align: left;
	margin-left: 30px;
}

.shoplist li .op_img, .shoplist_pc li .op_img {
	position: absolute;
	top: 50%;
	left: 7px;
	margin-top: -0.5em;
}

.shoplist li span img, .shoplist_pc li span img {
	width: 18px;
}

.shoplist .op01 li:nth-child(1), .shoplist_pc .op01 li:nth-child(1) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-top-left-radius: 6px;
}

.shoplist .op01 li:nth-child(2), .shoplist_pc .op01 li:nth-child(2) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 1.4px 1.4px 1.4px 0;
	border-top-right-radius: 6px;

}

.shoplist .op02 li:nth-child(1), .shoplist_pc .op02 li:nth-child(1) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 0 1.4px 1.4px 1.4px;
	border-bottom-left-radius: 6px;
}

.shoplist .op02 li:nth-child(2), .shoplist_pc .op02 li:nth-child(2) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 0 1.4px 1.4px 0;
	border-bottom-right-radius: 6px;

}
.shoplist_wrapper #condition li {
	width: 13%;
	position: relative;
	float: left;
	display: block;
	margin: 0 1.5px;
	padding: 0;
}

/* 店舗一覧の表（店舗詳細下のおすすめ） */

.recommended .option {
	width: 100%;
	display: table;
}

.recommended .info li {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	line-height: 1.2em;
	padding: 7px;
	font-size: 0.8em;
}

.recommended .op_text {
	display: block;
	text-align: left;
	margin-left: 30px;
}

.recommended li .op_img {
	position: absolute;
	top: 50%;
	left: 7px;
	margin-top: -0.5em;
}

.recommended li span img {
	width: 18px;
}

.recommended .op01 li:nth-child(1) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-top-left-radius: 6px;
}

.recommended .op01 li:nth-child(2) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 1.4px 1.4px 1.4px 0;
	border-top-right-radius: 6px;

}

.recommended .op02 li:nth-child(1) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 0 1.4px 1.4px 1.4px;
	border-bottom-left-radius: 6px;
}

.recommended .op02 li:nth-child(2) {
	position: relative;
	border: 1.4px solid rgb(194, 166, 91);
	border-width: 0 1.4px 1.4px 0;
	border-bottom-right-radius: 6px;

}

.recommended #condition {
	margin-left: 0;
}

.recommended #condition li {
	width: 13.5%;
	margin: 0 1.3px;
}

/* 店舗詳細 */
.shopdetail {
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
}

.shopdetail img {
	width: 100%;
}

.shopdetail table {
	border-spacing: none;
	border-collapse: separate;
	margin: 0 auto;
	width: 75%;
}

.shopdetail td, th {
	border: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}

.shopdetail th {
	width: 35%;
	background: rgb(255, 243, 211);
	border: 1px solid #bbbbbb;
	border-right: none;
	padding-left: 10px;
}

.shopdetail td {
	text-align: left;
	padding: 3px 10px;
}

.shopdetail table tr:first-child :first-child{
	border-top-left-radius: 10px;
}
.shopdetail table tr:first-child :last-child{
	border-top-right-radius: 10px;
}
.shopdetail table tr:last-child :first-child{
	border-bottom-left-radius: 10px;
}
.shopdetail table tr:last-child :last-child{
	border-bottom-right-radius: 10px;
}
.shopdetail table tr:not(:first-child) th,table tr:not(:first-child) td{
	border-top:none;
}


.shopdetail p {
	padding: 10px;
	margin: 0;
}

.shopdetail .outline {
	padding-bottom: 13px;
}

.shopdetail .shopimg {
	margin: 0 auto;
	width: 90%;
	text-align: center;
}
.shopdetail .shopname {
	font-size: 1.4em;
	margin: 30px 0 5px;
	color: rgb(134, 105, 23);
	font-weight: bold;
}

.shopdetail .shopimg .slider {
	padding: 0 20px 12px 20px;
}

.shopdetail .shopdetail_label {
	display: block;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #BAA058;
	font-size: 1.2em;
	color: #FFFFFF;
}


.shopdetail .about {
	margin: 0 auto;
	background: white;
	border: 1px solid #bbbbbb;
	width: 92%;
	border-radius: 10px;
}

.shopdetail .about_title {
	/* font-size: 1.2em; */
	text-align: center;
	color: #BAA058;
	font-weight: bold;
	letter-spacing: 0.05em;
	border-bottom: 1px solid #bbbbbb;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	line-height: 2em;
}
.shopdetail .subscription {
	display: block;
	text-align: center;
	padding-bottom: 30px;
}

.shopdetail .subscription a {
	border-style: none;
	text-decoration: none;
}

.shopdetail .subscription img {
	width: 44%;
	max-width: 100%;
	border-style: none;
	text-decoration: none;
	box-shadow: 0px 5px 5px -3px rgba(158, 158, 158, 0.6);
	-webkit-box-shadow: 0px 5px 5px -3px rgba(158, 158, 158, 0.6);
	-moz-box-shadow: 0px 4px 5px -3px rgba(158, 158, 158, 0.6);
}

.shopdetail .subscription a:nth-child(2) {
	padding-left: 2%;
}

/* 店舗情報 */
.shopdetail .shopinfo {
	padding-bottom: 20px;
}

.shopdetail .shopinfo ul{
	list-style: none;
}

.shopdetail table {
	border-spacing: none;
	border-collapse: separate;
	margin: 0 auto;
	width: 92%;
}

.shopinfo table {
	border-spacing: none;
	border-collapse: separate;
	margin: 0 auto;
	width: 92%;
}

.shopdetail .shopinfo td, th {
	/*border: 1px solid #bbbbbb;*/
	padding: 5px;
}

.shopdetail .shopinfo th {
	width: 30%;
	background: white;
	color: #BAA058;
	font-weight: bold;
}

.shopdetail .shopinfo td{
	padding-left: 10px;
	text-align: left;
	color: #535353;
}

/* 応募の流れ */

.step {
	margin: 0 5%;
}

.title_step {
	text-align: center;
	margin: 40px 40px 70px;
	color: #626262;
}

.title_step p {
	font-size: 0.6em;
}

.step .step_item {
	margin-bottom: 60px;
}

.step_title {
	position: relative;
	border-bottom: 4px solid rgb(248, 229, 177);
	margin-bottom: 20px;
}

.step_title p, .step_title h2 {
	font-weight: bold;
}

.step_number {
	position: absolute;
	bottom: 0;
	line-height: 1.7em;
	float: left;
}

.step_number p {
	font-size: 1em;
	color: #BAA058;
}

.step_number p span {
	font-size: 1.6em;
	color: rgb(148, 123, 53);
}

.step_title h2 {
	font-size: 1.1em;
	line-height: 1.1em;
	letter-spacing: 1.5px;
	padding-bottom: 0.3em;
}

.step_text {
	margin-left: 25%;
	display: inline-block;
}

.step a img {
	border-style:none;
	text-decoration: none;
}

.step .text {
	margin: 15px 0 20px;
	font-size: 0.9em;
	letter-spacing: 1px;
	line-height: 1.4em;
}

.step .text p, .lounge .next-line {
	margin-bottom: 15px;
}

.step .noblank {
	margin-bottom: 0 !important;
}

.step .notes {
	color: #BAA058;
}

.step_item:nth-child(3) .notes {
	font-weight: bold;
}

.step .social_step {
	display: inline-block;
	padding: 0 30px;
}

.step .social_step img {
	width: 65%;
}

.step .social_step a {
	border-style:none;
	text-decoration: none;
	text-align: center;
	width: 50%;
	padding: 0 5%;
	float: left;
}

/* 店舗詳細下のピックアップ */

.recommended {
	width: 100%;
	margin: 0 auto;
}

.recommended h2 {
	text-align: center;
	margin: 30px 0 20px;
	color: rgb(177, 147, 66);
	background-color: rgb(238, 237, 213);
	padding: 3px 0;
}

.recommended_item {
	border-bottom: 1px solid #d7d7d7;
	margin: 0 4%;
}
.recommended_item_pc {
	display: none;
}

.recommended_item:nth-child(5) {
	border-bottom: none;
}

.recommended_item_top {
	display: flex;
	margin: 4% 0 2px;
}

.reco_left {
	display: inline-block;
	width: 39%;
}

.reco_right {
	width: 61%;
	padding-left: 3%;
	display: inline-block;
}

.reco_right .tenpo_name {
	font-size: 0.95em;
	margin-bottom: 5px;
	color: rgb(134, 105, 23);
	line-height: 1.3em;
}
.reco_right .tenpo_name a {
	color: rgb(134, 105, 23);
	font-weight: bold;
}

.reco_right .tenpo_comment {
	font-size: 0.8em;
	line-height: 1.4em;
}

.recommended .info {
	margin-bottom: 5px;
}

.recommended .more-btn {
	font-size: 0.85em;
	text-align: center;
	margin: 1px 0 14px;
}

.recommended .more-btn {
	padding: 0;
}

.recommended .btn_detail {
	padding: 7px 0;
	color: rgb(105, 80, 12);

}

/* コラム記事 */
.column_post {
	text-align: center;
	color: inherit;
	margin: 0 auto;
}

.column_post h1 {
	display: block;
	text-align: left;
	font-size: 1.2em;
	padding: 4.4px 18px;
	margin: 10% 5% 5%;
	border-left: solid 10px #BAA058;
	color: rgb(110, 85, 15);
}

.column_post h2 {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 0.5em;
	font-size: 1.1em;
	color: rgb(153, 122, 36);
	font-weight: bold;
	line-height: 1.1em;
	border-bottom: solid 6px rgb(240, 236, 218);
}
.column_post h2 span {
	color: rgb(153, 122, 36);
}

.column_post h3 {
	width: 90%;
	text-align: center;
	margin: 0 auto;
	font-size: 1em;
	margin-bottom: 0.5em;
	font-weight: bold;
	letter-spacing: 1px;
}

strong {
	font-weight: bold;
}

.column_post img {
	text-align: center;
	padding: 1em;
}
.column_post .line {
	padding: 0;
}

.column_text p {
	margin: 0 auto;
	width: 90%;
	font-size: 0.9em;
	text-align: justify;
	letter-spacing: 0.3px;
}

/* ニュース記事 */
.news_post {
	text-align: center;
	margin: 0 auto;
}

.post_date {
	text-align: right;
	margin-top: 2em;
	font-size: 0.8em;
	border-bottom: 1px solid #e4e4e4;
	padding-right: 5px;
}

.news_post .note {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: justify;
	font-size: 0.8em;
}

.news_post h1 {
	display: block;
	text-align: left;
	font-size: 1.1em;
	padding: 4.4px 5%;
	margin: 20px 20px  10px 20px;
	border-left: solid 10px #BAA058;
	color: rgb(110, 85, 15);
}

.news_post h2 {
	text-align: center;
	margin: 20px 0;
	font-size: 1.5em;
	color: #BF9405;
	border-bottom: solid 1px #bbbbbb;
}

.news_post img {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.line, .news_post .line img {
	width: 160px !important;
	border: 0;
	margin-top: 12px;
}

.news_post .news_text {
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 30px;
	text-align: justify;
	font-size: 0.8em;
}

.news_post .detail_btn {
	display: block;
	width: 40%;
	margin: 0 auto;
	font-size: 1em;
}

/* 応募フォーム（ページ） */
.contact {
	margin-top: 50px;
	display: block;
}

.contact .contact_text {
	border-bottom: solid 1px #BAA058;
	color: inherit;
	padding-bottom: 20px;
}
.contact_text p {
	font-size: 0.85em;
	margin: 0 auto;
	padding: 0 5%;
	max-width: 800px;
	color: rgb(90, 70, 14);
}
/* 応募フォーム（フォーム） */
.lead-form{
  text-align: center;
  font-size:20px;
}
.item{
  overflow: hidden;
  margin-bottom: 20px;
}
.label{
  float: left;
  width:35%;
  margin-right: 20px;
  padding-left: 10px;
}
.inputs{
  float: left;
  width:60%;
}

.inquiry_area{
  text-align: center;
	margin-bottom: 20px;
}

.inquiry{
  width:90%;
}

input[type="text"],input[type="email"]{
  border: solid 1px #C7C7C7;
  border-radius:5px;
  padding:10px;
	margin-bottom: 3px;
  font-size: 1em;
}
textarea{
  border: solid 1px #C7C7C7;
  border-radius:5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

/* 確認画面 */
.confirm {
	text-align: center;
}

.confirm h1{
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 1.5em;
}

.confirm .confirm_val{
		width: 75%;
		margin: 0 auto;
		padding-bottom: 20px;
		border-top: solid 1px #C7C7C7;
		font-size: 1.2em;
}

.confirm .confirm_val ul{
	display: flex;
}

.confirm .confirm_val li{
	width: 50%;
	text-align: left;
	border-bottom: solid 1px #C7C7C7;
}

.confirm .confirm_text {
	margin: 0 auto;
	padding: 20px;
	width: 75%;
	text-align: justify;
}

/* よくある質問 */
.faq {
	text-align: center;
}

.faq img{
	width: 100%;
}

.faq h2:first-of-type {
	margin-top: 5%;
}

.faq h2 {
	margin-top: 15%;
	font-size: 1.1em;
	font-weight: bold;
	color: #BF9405;
	border-bottom: solid 1px #848484;
}

.faq .faq_text {
	margin-top: 3.5%;
	margin-right: 40px;
	margin-left: 40px;
	margin-bottom: 40px;
	text-align: justify;
	font-size: 0.85em;
	color: #626262;
}

/* 応募完了 */
.thanx {
	display: block;
	text-align: justify;
}

.thanx h1 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.2em;
	border-bottom: solid 2px rgb(212, 194, 142);
	color: rgb(148, 129, 82);
}

.thanx  p {
	display: block;
	width: 90%;
	text-align: justify;
	margin: 0 auto;
	font-size: 0.9em;
}

/* 会社概要 */
.company {
	text-align: center;
	font-size: 1.2em;
}

.company h1, h4 {
	font-weight: normal;
}

.company h1 {
	font-size: 2em;
	margin-top: 40px;
}

.company h4 {
	margin-bottom: 50px;
}

.company table, th, td {
	border: none;
}

.company table {
	font-size: 0.75em;
	margin: 0 auto;
	width: 85%;
}

.company th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	width: 35%;
	padding-bottom: 20px;
}

.company td {
	text-align: left;
	width: 65%;
	padding-bottom: 20px;
}

.company ul {
	list-style-type: decimal;
}
.company li {

}
/* プライバシーポリシー */
.privacy {
	text-align: center;
}

.privacy h2 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 1.1em;
	color: rgb(148, 129, 82);
	border-bottom: 2px solid rgb(226, 215, 180);
	line-height: 1.3em;
}

.privacy .privacy_text {
	width: 90%;
	margin: 0 auto;
	font-size: 0.8em;
	text-align: justify;
}

.privacy .privacy_list {
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding-top: 10px;
	font-size: 0.8em;
	font-weight: bold;
}

.privacy .privacy_text ul {
	display: block;
	text-align: left;
}

.gene_link {
	color: #F0908A;
}

.privacy .privacy_text a {
	color: #BAA058;
}

/* index 新着コラム */
.clm_prev {
	display: block;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.clm_prev .clm_img {
	display: flex;
	width: 100%;
}

.clm_prev .clm_img img {
	width: 100%;
	margin: 10px;
}

.clm_prev .clm_txt {
	display: block;
	margin-top: 10px;
	margin-left: 20px;
	text-align: left;
}

.clm_prev .clm_txt h2 {
	font-size: 0.85em;
	color: #F0908A;
}

.clm_prev .clm_txt p {
	font-size: 0.85em;
}

/* index 最新情報 */
.new_prev, .new_prev_c {
	display: flex;
	margin: 0 3%;
	text-align: center;
}

.front .new_prev_c:nth-child(5), .front .new_prev:nth-child(5) {
	display: flex;
	margin: 0 5%;
	padding-bottom: 1%;
	text-align: center;
	border-bottom: none;
}

.new_img, .new_img_c {
	width: 45%;
	margin: 0 auto;
}

.new_img img, .new_img_c img {
	width: 100%;
	margin: 4px 0;
	border-radius: 0.5em;
    height: 110px;
    object-fit: cover;
}

.new_txt, .new_txt_c{
	display: block;
	width: 50%;
	margin-top: 5px;
	margin-left: 2%;
	text-align: left;
}
.new_txt_pc, .new_txt_c_pc {
	display: none;
}

.new_txt .top_date {
	display: block;
	font-size: 0.8em;
	color: rgb(121, 93, 16);
}

.new_txt .top_title {
	font-size: 0.85em;
	color: #BAA058;
}

.news .top_title {
	font-size: 1em;
	color: #BAA058;
}

.top_title_c {
	color: #BAA058;
	display: inline-block;
	font-size: 0.9em;
}

.news .top_text_c {
	display: inline;
	font-size: 0.9em;
}

.news .top_title_c {
	font-size: 1.1em;
	color: #BAA058;
	margin-top: 1em;
	display: inline;
}

.new_prev .new_txt .top_text, .top_text_c, .news .top_text {
	font-size: 0.75em;
	display: inline-block;
}

/* 最新情報 */
.news {
	margin: 0 auto;
	width: 95%;
	overflow: hidden;
}

.news a{
	text-decoration:none;
}

.news dl {
	display: table;
	width: 100%;
	margin: 0 auto;
}

.news ul {
	display: block;
	padding: 20px;
}

.news dt {
	width: 45%;
	float: left;
}

.news img {
	width: 100%;
	height: 80%;
	border-radius: 0.5em;
}

/* 共通部品 */
/* パンくずリスト */
.breadcrumb{
	font-size: 0.7em;
	margin-left: 5px;
	margin-top: 3px;
}

/* 件数表示 */
.posts {
	font-size: 0.7em;
	border-bottom: 1px solid #bbbbbb;
	padding-left: 3%;
}

.posts a{
	margin-left: 20px;
}

/* ページネーション */
.pagination {
	text-align: center;
	margin: 40px 0 10px;
}

/* 一覧表示 */
.box_list {
	margin: 0 10px 0 10px;
	border-bottom: solid 1px #bbbbbb;
	font-size: 0.8em;
}

/* お問い合わせフォーム */

.wpcf7-form {
	margin: 30px auto 0;
	max-width: 800px;
}

.wpcf7-form p {
	margin-bottom: 25px;
}

.must {
	font-size: 14px;
	font-size: 14px;
	margin-bottom: 5px;
	height: 2px;
	margin-left: 5%;
}

.as{
	color: rgb(173, 127, 0);
	margin-left: 5px;
}

.wpcf7 input[type="date"],
input.wpcf7-email,
input.wpcf7-text {
	height: 35px;
	border: solid 1px rgb(180, 180, 180);
	border-radius: 10px;
}
input.wpcf7-select-year-include_blank {
	height: 35px;
}
.wpcf7 input[type="date"],
.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
	width: 90%;
}
input.wpcf7-date {
	border: solid 1px rgb(80, 80, 80);
	border-radius: 10px;
	padding-left: 10px;
}
.wpcf7-textarea {
	width: 90%;
	border: solid 1px rgb(180, 180, 180);
	border-radius: 10px;
}
.wpcf7-list-item.last {
	margin-bottom: 15px;
}
.wpcf7-list-item-label {
	margin-left: 5px;
	font-size: 14px;
}
span.wpcf7-list-item {
	margin: 0 !important;
	padding-left: 1em;
}
.wpcf7-form-control {
	background-color: rgb(248, 248, 248);
}
span.wpcf7-list-item {
	display: block!important;
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"],
.btn_contact {
	color: rgba(0, 0, 0, 0.808);
	background-color: #BAA058;
	border: solid 1px rgb(85, 85, 85);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	letter-spacing: 3px;
	width: 45%;
	border: none;
	color: white;
	font-size: 15px;
}
.wpcf7 input:hover[type="submit"],
.wpcf7 input:hover[type="button"]{
	background-color: #BAA058;
	transition: all 0.4s ease 0s;
	color: white;
}
.btn_contact:hover {
	background-color: #BAA058;
	transition: all 0.4s ease 0s;
	color: white;
}
.wpcf7 p:last-of-type{
	text-align: center;
}
.faq .btn_home {
	margin-top: 20%;
}
.wpcf7-form-control {
	display: block;
	margin: 0 auto;
}
.wpcf7-textarea {
	margin-bottom: 30px;
}
.wpcf7-radio,
.wpcf7-checkbox {
	margin-left:  4%;
	background-color: white;
}
.wpcf7 input[type="submit"],
.wpcf7 input[type="button"] {
	margin-left: 15px;
}
button, :-moz-submit-invalid, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
 border-radius: 0;
 -webkit-box-sizing: content-box;
 -webkit-appearance: button;
 appearance: button;
 border: none;
 box-sizing: border-box;
 cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
 display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
 outline-offset: -2px;
}

.continued {
	color: rgb(245, 230, 188);
	font-size: 0.85em;
}

.icon_area {
	display: block;
	text-align: center;
}

.arrow_icon {
	width: 8%;
	margin-bottom: 18px;
}

/* テキストエディタのタグ追加 */

.pointBox {
	position: relative;
	border: 2px solid rgb(153, 129, 63);
	border-radius: 5px;
	padding: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pointBox::before {
	content: "POINT";
	position: absolute;
	top: -15px;
	left: 15px;
	font-size: 1.2em;
	font-weight: bold;
	background-color: #ffffff;
	color: rgb(153, 129, 63);
	padding: 0 10px;
}

.bracketsBox {
	position: relative;
	padding: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.bracketsBox::before {
	top: 0;
    left: 0;
    border-top: solid 1px #191919;
    border-left: solid 1px #191919;
}

.bracketsBox::after {
	right: 0;
    bottom: 0;
    border-right: solid 1px #191919;
    border-bottom: solid 1px #191919;
}

.bracketsBox::after, .bracketsBox::before {
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 30px;
	content: "";
}

.boldBox {
	border: 3px solid rgb(160, 132, 57);
	padding: 5px;
	margin: 1em;
	font-weight: 700;
}

.paperBox {
	position: relative;
	padding: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
}

.paperBox::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	border-color: #D8D8D8 #ffffff #ffffff #D8D8D8;
	border-style: solid;
	border-width: 0 0 20px 20px;
}

.bgBox {
	margin: 1em;
	background: rgba(252, 237, 198, 0.904);
	padding: 5px;
	margin-top: 20px;
}

.border2Box {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 4px double #E5E5E5;
	padding: 3px;
	margin-top: 20px;
}

.borderBox {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #BAA058;
	padding: 0.5em;
	margin-top: 20px;
}

.markerYellow {
	background: linear-gradient(transparent 60%, #ffffbc 60%);
}

.markerPink {
	background: linear-gradient(transparent 60%, #FFDFEF 60%);
}

.markerBlue {
	background: linear-gradient(transparent 60%, #cce5ff 60%);
}

.questionBox, .exclamationBox {
	padding: 1em 1em 1em 3em;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.questionBox {
	background-color: #D9EFF7;
}

.questionBox::before {
	content: "?";
	background: #0096c8;
}

.exclamationBox {
	background-color: #F6E1DF;
}

.exclamationBox::before {
	content: "!";
	background: #c53929;
}

.questionBox::before, .exclamationBox::before {
	position: absolute;
	top: 50%;
	left: 1em;
	transform: translateY(-50%);
	font-size: 1em;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 50%;
}

.asterisk {
	display: block;
	font-size: 0.75em;
	color: rgb(116, 116, 116);
}

/* 検索フォーム */

.disagreement {
	text-align: center;
	padding: 15px 0 30px;
}

.disagreement p{
	color: rgb(126, 101, 33);
}

/* トップスライド画像 */
.slider_header {
	height: auto;
}
